{% extends "base.html" %}
{% load url from future %}

{% block extra_stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}registration/stylesheets/base.css"/>
{% endblock %}

{% block title %}Registration - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="page-header">
    <h1>Registration</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-bar ">
          <li class="nav-header">Actions</li>
          <li><a href="{% url 'registration' %}">List Contacts</a>
          </li>
          <li><a href="{% url 'registration_contact_add' %}">Add Contact</a>
          </li>
          <li><a href="{% url 'registration_bulk_add' %}">Bulk Add Contacts</a>
          </li>
        </ul>
      </div>
      </div>
    </div>
  <div class="col-md-8">{% block page %}{% endblock %}</div>
</div>
{% endblock %}
